In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from tqdm import tqdm
import gc
import random
import lightgbm as lgb
import xgboost as xgb 
import re
from sklearn.metrics import *
from sklearn.model_selection import KFold
import warnings
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings(action='ignore')

# 필요한 함수 정의
def make_datetime(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = int(x[:4])
    month = int(x[4:6])
    day   = int(x[6:8])
    hour  = int(x[8:10])
    #mim  = int(x[10:12])
    #sec  = int(x[12:])
    return dt.datetime(year, month, day, hour)

def string2num(x):
    # (,)( )과 같은 불필요한 데이터 정제
    x = re.sub(r"[^0-9]+", '', str(x))
    if x =='':
        return 0
    else:
        return int(x)



PATH = 'C:/Users/hyeonggu/Desktop/lg 챌린지/data (2)/'

In [2]:
import pandas as pd

# 최대 줄 수 설정
pd.set_option('display.max_rows', 500)
# 최대 열 수 설정
pd.set_option('display.max_columns', 500)
# 표시할 가로의 길이
pd.set_option('display.width', 1000)

In [20]:
train_err  = pd.read_csv(PATH+'train_err_data.csv')
test_err  = pd.read_csv(PATH+'test_err_data.csv')
train_prob = pd.read_csv(PATH+'train_problem_data.csv')
test_prob = pd.read_csv(PATH+'train_problem_data.csv')
qdata  = pd.read_csv(PATH+'train_quality_data.csv')
t_qdata  = pd.read_csv(PATH+'test_quality_data.csv')
display(qdata.head(300))

               time  user_id       fwver  quality_0  quality_1  quality_2  quality_3  quality_4 quality_5  quality_6 quality_7 quality_8 quality_9 quality_10  quality_11  quality_12
0    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
1    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
2    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
3    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
4    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
5    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
6    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         4          0         0         0         0          4           0           0
7    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
8    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
9    20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
10   20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
11   20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0
12   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
13   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
14   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
15   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
16   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
17   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
18   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
19   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
20   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
21   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
22   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         8          0         0         0         0          8           0           0
23   20201130210000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
24   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
25   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
26   20201104110000    10002  05.15.2138        2.0          0        1.0          0          0         0          0         0         0         1          0           0           0
27   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
28   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
29   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
30   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
31   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
32   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
33   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
34   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
35   20201104110000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         1          0           0           0
36   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
37   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
38   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
39   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
40   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
41   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
42   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
43   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
44   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
45   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
46   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          2           0           0
47   20201106010000    10002  05.15.2138        0.0          0        0.0          0          0         2          0         0         0         0          2           0           0
48   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         2         0         0          4           0           0
49   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         2         0         0          4           0           0
50   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         2         0         0          4           0           0
51   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         2         0         0          4           0           0
52   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         2         0         0          4           0           0
53   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         2         0         0          4           0           0
54   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         1          1         2         0         0          4           0           0
55   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         2         0         0          4           0           0
56   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         2         0         0          4           0           0
57   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         1          0         2         0         0          4           0           0
58   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         2          1         2         0         0          4           0           0
59   20201111010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         2         0         0          4           0           0
60   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
61   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
62   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
63   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
64   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
65   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
66   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         5          0         0         0         0          5           0           0
67   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
68   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
69   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
70   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
71   20201115130000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          5           0           0
72   20201118001000    10002  05.15.2138       -1.0         -1       -1.0          0          0        -1         -1         0         0         0          3          -1           0
73   20201118001000    10002  05.15.2138       -1.0         -1       -1.0          0          0        -1         -1         0         0         0          3          -1           0
74   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         3          0         0         0         0          3           0           0
75   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          3           0           0
76   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          3           0           0
77   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          3           0           0
78   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          3           0           0
79   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          3           0           0
80   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          3           0           0
81   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          3           0           0
82   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          3           0           0
83   20201118001000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          3           0           0
84   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
85   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
86   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
87   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
88   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
89   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
90   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
91   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         3         44        44         0         0          3           0           0
92   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
93   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
94   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
95   20201119141000    10002  05.15.2138        0.0          0        0.0          0          0         0          0        44         0         0          3           0           0
96   20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
97   20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
98   20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
99   20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
100  20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
101  20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
102  20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
103  20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         5          0         0         0         0          8           0           0
104  20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
105  20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         2          0         0         0         0          8           0           0
106  20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          8           0           0
107  20201130010000    10002  05.15.2138        0.0          0        0.0          0          0         1          0         0         0         0          8           0           0

In [4]:
user_df = pd.DataFrame([i for i in range(10000,25000)],columns = ['user_id'])
t_user_df = pd.DataFrame([i for i in range(30000,44999)],columns = ['user_id'])

len(t_user_df)

14999

In [7]:
train_err[train_err['user_id'] == 10000]['fwver'].unique()

array(['05.15.2138'], dtype=object)

## ID별로 가장 많이 사용하는 모델 저장하기

In [26]:
#Train

id_model = ["" for i in range(15000)]
for i in tqdm(range(10000,25000)):
    check =  train_err[train_err["user_id"] == i]
    n=check["model_nm"].value_counts()
    tt = len(n.keys())
    id_model[i-10000] = tt
"""
#test
t_id_model = ["" for i in range(14999)]
for i in tqdm(range(30000,44999)):
    check =  test_err[test_err["user_id"] == i]
    n=check["model_nm"].value_counts()
    if len(n) == 0:
        t_id_model[i-30000] = "model_0"
        continue
    tt = n.keys()[0]
    t_id_model[i-30000] = tt
"""

100%|████████████████████████████████████████████████████████████████████████████| 15000/15000 [04:47<00:00, 52.13it/s]

'\n#test\nt_id_model = ["" for i in range(14999)]\nfor i in tqdm(range(30000,44999)):\n    check =  test_err[test_err["user_id"] == i]\n    n=check["model_nm"].value_counts()\n    if len(n) == 0:\n        t_id_model[i-30000] = "model_0"\n        continue\n    tt = n.keys()[0]\n    t_id_model[i-30000] = tt\n'

In [93]:
   
#레이블 인코딩
user_df['user_model'] = pd.Series(id_model)
t_user_df['user_model'] = pd.Series(t_id_model)
items = user_df["user_model"]
t_items = t_user_df["user_model"]
encoder = LabelEncoder()
encoder.fit(items)
user_df["user_model"] = encoder.transform(items)
t_user_df["user_model"] = encoder.transform(t_items)

user_df.head()

   user_id  user_model
0    10000           3
1    10001           2
2    10002           3
3    10003           2
4    10004           0

In [27]:
user_df['user_model_count'] = pd.Series(id_model)

## 퀄리티 데이터 개수 카운팅 ( 1.나타난 수 2. 각 데이터 별로 수)

In [94]:
#ID별 퀄리티 데이터의 수

a = qdata.groupby(['user_id']).count()["time"]
t2 = np.zeros(15000)
for i in tqdm(range(10000,25000)):
    if i in list(a.keys()):
        t2[i-10000] = a[i]
        
user_df['quality'] = t2

100%|██████████████████████████████████████████████████████████████████████████| 15000/15000 [00:08<00:00, 1731.71it/s]

In [95]:
#ID별 퀄리티 데이터의 수
a = t_qdata.groupby(['user_id']).count()["time"]
t2 = np.zeros(14999)
for i in tqdm(range(30000,44998)):
    if i in list(a.keys()):
        t2[i-30000] = a[i]
        
t_user_df['quality'] = t2

100%|██████████████████████████████████████████████████████████████████████████| 14998/14998 [00:08<00:00, 1725.86it/s]

In [96]:
t_user_df.head()

   user_id  user_model  quality
0    30000           1     12.0
1    30001           3     36.0
2    30002           0    120.0
3    30003           0     60.0
4    30004           1     24.0

In [16]:
#퀄리티 데이터 측정한 횟수 (TIME 기준으로 몇번 인지가 ) VS 얼마나 긴지
#Train

quality_time = ["" for i in range(15000)]
for i in tqdm(range(10000,25000)):
    check =  train_err[train_err["user_id"] == i]
    n=check["time"].unique()
    tt =len(n)
    quality_time[i-10000] = tt

100%|████████████████████████████████████████████████████████████████████████████| 15000/15000 [04:40<00:00, 53.47it/s]

In [22]:
user_df['err_time_count'] = pd.Series(quality_time)
user_df

       user_id  err_time_count
0        10000             285
1        10001            2201
2        10002             284
3        10003             244
4        10004             693
...        ...             ...
14995    24995             152
14996    24996               3
14997    24997             741
14998    24998             113
14999    24999             495

[15000 rows x 2 columns]

In [23]:
#퀄리티 데이터 측정한 횟수 (TIME 기준으로 몇번 인지가 ) VS 얼마나 긴지
#Train

quality_time2 = ["" for i in range(15000)]
for i in tqdm(range(10000,25000)):
    check =  qdata[qdata["user_id"] == i]
    n=check["time"].unique()
    tt =len(n)
    quality_time2[i-10000] = tt

100%|██████████████████████████████████████████████████████████████████████████| 15000/15000 [00:14<00:00, 1043.82it/s]

In [40]:
user_df['q_time_count'] = pd.Series(quality_time2)
user_df

       user_id  err_time_count  q_time_count  user_model_count  user_fwver
0        10000             285             2                 1           1
1        10001            2201             0                 1           2
2        10002             284             8                 1           1
3        10003             244             0                 1           2
4        10004             693             2                 1           2
...        ...             ...           ...               ...         ...
14995    24995             152             2                 1           1
14996    24996               3             0                 1           1
14997    24997             741             2                 1           2
14998    24998             113             0                 1           2
14999    24999             495             0                 1           1

[15000 rows x 5 columns]

In [41]:
user_df.to_csv('time_count.csv',index=False)

## Fwver

In [34]:
def make_fwver(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = x[:9]
    return year

In [35]:
train_err["pro_fwver"] = train_err['fwver'].apply(make_fwver)
test_err["pro_fwver"] = test_err['fwver'].apply(make_fwver)

In [36]:
test_err['pro_fwver'] = np.where(test_err['pro_fwver'] == '10.22', '10',test_err['pro_fwver'])
len(test_err['pro_fwver'].unique())

37

In [37]:
#test_err['pro_fwver'] = np.where(test_err['pro_fwver'] == '04.73', '04.16',test_err['pro_fwver'])
len(train_err['pro_fwver'].unique())

34

In [38]:
#fver별로 모델이 다를까? ID 별로 가장 많이 쓰는 모델 저장하기
id_fwver = ["" for i in range(15000)]
for i in tqdm(range(10000,25000)):
    check =  train_err[train_err["user_id"] == i]
    n=check["fwver"].value_counts()
    tt = len(n.keys())
    id_fwver[i-10000] = tt

100%|████████████████████████████████████████████████████████████████████████████| 15000/15000 [04:45<00:00, 52.57it/s]

In [113]:
t_id_fwver = ["" for i in range(14999)]
for i in tqdm(range(30000,44999)):
    check =  test_err[test_err["user_id"] == i]
    n=check["pro_fwver"].value_counts()
    if len(n) == 0:
        t_id_fwver[i-30000] = "04.16"
        continue
    tt = n.keys()[0]
    t_id_fwver[i-30000] = tt

100%|████████████████████████████████████████████████████████████████████████████| 14999/14999 [04:46<00:00, 52.44it/s]

In [39]:
user_df['user_fwver'] = pd.Series(id_fwver)
#t_user_df['user_fwver'] = pd.Series(t_id_fwver)
#t_user_df.head()

In [115]:
   
#레이블 인코딩
items = user_df["user_fwver"]
t_items = t_user_df["user_fwver"]
encoder = LabelEncoder()
encoder.fit(items)
user_df["user_fwver"] = encoder.transform(items)
t_user_df["user_fwver"] = encoder.transform(t_items)

user_df.head()

   user_id  user_model  quality  user_fwver
0    10000           3     24.0           6
1    10001           2      0.0           3
2    10002           3     96.0           6
3    10003           2      0.0           3
4    10004           0     24.0           2

In [150]:
user_df.to_csv('user_df2.csv')
t_user_df.to_csv('t_user_df2.csv')

In [71]:
t_user_df.head()

   user_id  user_model  quality  user_fwver
0    30000           1     12.0           1
1    30001           3     36.0           5
2    30002           0    120.0           2
3    30003           0     60.0           2
4    30004           1     24.0           1

## 변수 추가 생성

In [194]:
train_err['pro_err'] = str(train_err['errtype'])
test_err['pro_err'] = str(test_err['errtype'])

0

In [47]:
look = pd.read_csv("both_train.csv")

In [50]:
look.head(100)

    Unnamed: 0  Unnamed: 0.1  user_id            time model_nm       fwver  errtype errcode pro_err both_err  pro_both
0            0             0    10000  20201101025616  model_3  05.15.2138       15       1    15.1     15.1        15
1            1             1    10000  20201101030309  model_3  05.15.2138       12       1    12.1     12.1        10
2            2             2    10000  20201101030309  model_3  05.15.2138       11       1    11.1     11.1         9
3            3             3    10000  20201101050514  model_3  05.15.2138       16       1    16.1     16.1        16
4            4             4    10000  20201101050515  model_3  05.15.2138        4       0     4.0      4.0      1401
5            5             5    10000  20201101050516  model_3  05.15.2138       26       1    26.1     26.1        47
6            6             6    10000  20201101050522  model_3  05.15.2138        4       0     4.0      4.0      1401
7            7             7    10000  20201101060903  model_3  05.15.2138       15       1    15.1     15.1        15
8            8             8    10000  20201101174754  model_3  05.15.2138       16       1    16.1     16.1        16
9            9             9    10000  20201101174756  model_3  05.15.2138        4       0     4.0      4.0      1401
10          10            10    10000  20201101174803  model_3  05.15.2138        4       0     4.0      4.0      1401
11          11            11    10000  20201102000824  model_3  05.15.2138       26       1    26.1     26.1        47
12          12            12    10000  20201102005521  model_3  05.15.2138       15       1    15.1     15.1        15
13          13            13    10000  20201102050310  model_3  05.15.2138       16       1    16.1     16.1        16
14          14            14    10000  20201102050312  model_3  05.15.2138        4       0     4.0      4.0      1401
15          15            15    10000  20201102050319  model_3  05.15.2138        4       0     4.0      4.0      1401
16          16            16    10000  20201102060831  model_3  05.15.2138       15       1    15.1     15.1        15
17          17            17    10000  20201102185629  model_3  05.15.2138       16       1    16.1     16.1        16
18          18            18    10000  20201102185631  model_3  05.15.2138        4       0     4.0      4.0      1401
19          19            19    10000  20201102185637  model_3  05.15.2138        4       0     4.0      4.0      1401
20          20            20    10000  20201103025616  model_3  05.15.2138       15       1    15.1     15.1        15
21          21            21    10000  20201103030504  model_3  05.15.2138       12       1    12.1     12.1        10
22          22            22    10000  20201103030504  model_3  05.15.2138       11       1    11.1     11.1         9
23          23            23    10000  20201103050150  model_3  05.15.2138       16       1    16.1     16.1        16
24          24            24    10000  20201103050152  model_3  05.15.2138        4       0     4.0      4.0      1401
25          25            25    10000  20201103050153  model_3  05.15.2138       26       1    26.1     26.1        47
26          26            26    10000  20201103050158  model_3  05.15.2138        4       0     4.0      4.0      1401
27          27            27    10000  20201103061017  model_3  05.15.2138       15       1    15.1     15.1        15
28          28            28    10000  20201103140502  model_3  05.15.2138       10       1    10.1     10.1         8
29          29            29    10000  20201103140502  model_3  05.15.2138       11       1    11.1     11.1         9
30          30            30    10000  20201103140502  model_3  05.15.2138       14       1    14.1     14.1        12
31          31            31    10000  20201103140502  model_3  05.15.2138       12       1    12.1     12.1        10
32          32            32    10000  20201103140504  model_3  05.15.2138        3       1     3.1      3.1        51
33          33            33    10000  20201103170503  model_3  05.15.2138       14       1    14.1     14.1        12
34          34            34    10000  20201103170504  model_3  05.15.2138       12       1    12.1     12.1        10
35          35            35    10000  20201103170504  model_3  05.15.2138       11       1    11.1     11.1         9
36          36            36    10000  20201103170504  model_3  05.15.2138       10       1    10.1     10.1         8
37          37            37    10000  20201103170505  model_3  05.15.2138        3       1     3.1      3.1        51
38          38            38    10000  20201104152639  model_3  05.15.2138       16       1    16.1     16.1        16
39          39            39    10000  20201104152641  model_3  05.15.2138        4       0     4.0      4.0      1401
40          40            40    10000  20201104152643  model_3  05.15.2138       26       1    26.1     26.1        47
41          41            41    10000  20201104152648  model_3  05.15.2138        4       0     4.0      4.0      1401
42          42            42    10000  20201104233111  model_3  05.15.2138       15       1    15.1     15.1        15
43          43            43    10000  20201105030504  model_3  05.15.2138       12       1    12.1     12.1        10
44          44            44    10000  20201105030504  model_3  05.15.2138       11       1    11.1     11.1         9
45          45            45    10000  20201105050254  model_3  05.15.2138       16       1    16.1     16.1        16
46          46            46    10000  20201105050255  model_3  05.15.2138        4       0     4.0      4.0      1401
47          47            47    10000  20201105050257  model_3  05.15.2138       26       1    26.1     26.1        47
48          48            48    10000  20201105050302  model_3  05.15.2138        4       0     4.0      4.0      1401
49          49            49    10000  20201105060755  model_3  05.15.2138       15       1    15.1     15.1        15
50          50            50    10000  20201105183643  model_3  05.15.2138       16       1    16.1     16.1        16
51          51            51    10000  20201105183645  model_3  05.15.2138        4       0     4.0      4.0      1401
52          52            52    10000  20201105183651  model_3  05.15.2138        4       0     4.0      4.0      1401
53          53            53    10000  20201106030036  model_3  05.15.2138       16       1    16.1     16.1        16
54          54            54    10000  20201106030038  model_3  05.15.2138        4       0     4.0      4.0      1401
55          55            55    10000  20201106030040  model_3  05.15.2138       26       1    26.1     26.1        47
56          56            56    10000  20201106030045  model_3  05.15.2138        4       0     4.0      4.0      1401
57          57            57    10000  20201106033756  model_3  05.15.2138       15       1    15.1     15.1        15
58          58            58    10000  20201106050159  model_3  05.15.2138       16       1    16.1     16.1        16
59          59            59    10000  20201106050201  model_3  05.15.2138        4       0     4.0      4.0      1401
60          60            60    10000  20201106050207  model_3  05.15.2138        4       0     4.0      4.0      1401
61          61            61    10000  20201106061114  model_3  05.15.2138       15       1    15.1     15.1        15
62          62            62    10000  20201107030504  model_3  05.15.2138       11       1    11.1     11.1         9
63          63            63    10000  20201107030504  model_3  05.15.2138       12       1    12.1     12.1        10
64          64            64    10000  20201107070541  model_3  05.15.2138       14       1    14.1     14.1        12
65          65            65    10000  20201107070541  model_3  05.15.2138       12       1    12.1     12.1        10
66          66            66    10000  20201107070542  model_3  05.15.2138       10       1    10.1     10.1         8
67          67            67    10000  20201107070542  model_3  05.15.2138        3       1     3.1      3.1        51
68          68            68    10000  20201107070542  model_3  05.15.2138       11       1    11.1     11.1         9
69          69            69    10000  20201107110543  model_3  05.15.2138       10       1    10.1     10.1         8
70          70            70    10000  20201107110543  model_3  05.15.2138       12       1    12.1     12.1        10
71          71            71    10000  20201107110543  model_3  05.15.2138       14       1    14.1     14.1        12
72          72            72    10000  20201107110543  model_3  05.15.2138       11       1    11.1     11.1         9
73          73            73    10000  20201107110545  model_3  05.15.2138        3       1     3.1      3.1        51
74          74            74    10000  20201107121609  model_3  05.15.2138       16       1    16.1     16.1        16
75          75            75    10000  20201107121610  model_3  05.15.2138        4       0     4.0      4.0      1401
76          76            76    10000  20201107121612  model_3  05.15.2138       26       1    26.1     26.1        47
77          77            77    10000  20201107121618  model_3  05.15.2138        4       0     4.0      4.0      1401
78          78            78    10000  20201107183310  model_3  05.15.2138       15       1    15.1     15.1        15
79          79            79    10000  20201107192724  model_3  05.15.2138       16       1    16.1     16.1        16
80          80            80    10000  20201107192725  model_3  05.15.2138        4       0     4.0      4.0      1401
81          81            81    10000  20201107192733  model_3  05.15.2138        4       0     4.0      4.0      1401
82          82            82    10000  20201108001732  model_3  05.15.2138       26       1    26.1     26.1        47
83          83            83    10000  20201108001934  model_3  05.15.2138       15       1    15.1     15.1        15
84          84            84    10000  20201108002041  model_3  05.15.2138       16       1    16.1     16.1        16
85          85            85    10000  20201108042311  model_3  05.15.2138       15       1    15.1     15.1        15
86          86            86    10000  20201108070121  model_3  05.15.2138       16       1    16.1     16.1        16
87          87            87    10000  20201108070122  model_3  05.15.2138        4       0     4.0      4.0      1401
88          88            88    10000  20201108070129  model_3  05.15.2138        4       0     4.0      4.0      1401
89          89            89    10000  20201109002814  model_3  05.15.2138       26       1    26.1     26.1        47
90          90            90    10000  20201109052412  model_3  05.15.2138       15       1    15.1     15.1        15
91          91            91    10000  20201109065505  model_3  05.15.2138       16       1    16.1     16.1        16
92          92            92    10000  20201109065507  model_3  05.15.2138        4       0     4.0      4.0      1401
93          93            93    10000  20201109065513  model_3  05.15.2138        4       0     4.0      4.0      1401
94          94            94    10000  20201110011614  model_3  05.15.2138       15       1    15.1     15.1        15
95          95            95    10000  20201110021654  model_3  05.15.2138       16       1    16.1     16.1        16
96          96            96    10000  20201110021656  model_3  05.15.2138        4       0     4.0      4.0      1401
97          97            97    10000  20201110021658  model_3  05.15.2138       26       1    26.1     26.1        47
98          98            98    10000  20201110021702  model_3  05.15.2138        4       0     4.0      4.0      1401
99          99            99    10000  20201110054143  model_3  05.15.2138       15       1    15.1     15.1        15

In [196]:

def change(a): 
    return(str(a)+'.')


def change2(b): 
    return(str(b))

train_err['pro_err'] = train_err['errtype'].map(change) + train_err['errcode'].map(change2)

In [195]:

def change(a): 
    return(str(a)+'.')


def change2(b): 
    return(str(b))

test_err['pro_err'] = test_err['errtype'].map(change) + test_err['errcode'].map(change2)

In [197]:
both =list(set(train_err['pro_err'].unique()) & set(test_err['pro_err'].unique()))
print(len(both))

1471

In [233]:
#main_code에 해당하는 변수 
train = train_err['pro_err'].unique()
test = test_err['pro_err'].unique()
#40,14,33,34,7
for i in tqdm(train):
    if i in both:
        continue
    train_err['pro_err'] = np.where(train_err['pro_err'] == i,train_err['errtype'],train_err['pro_err'])
    
for i in tqdm(test):
    if i in both:
        continue
    test_err['pro_err'] = np.where(test_err['pro_err'] == i,test_err['errtype'],test_err['pro_err'])

100%|██████████████████████████████████████████████████████████████████████████████| 2871/2871 [35:12<00:00,  1.36it/s]
100%|██████████████████████████████████████████████████████████████████████████████| 3022/3022 [45:00<00:00,  1.12it/s]

In [199]:
train_err.to_csv("both_train.csv")
test_err.to_csv("both_test.csv")

In [54]:
def cc(a):
    return str(a)

train_err['pro_err'] = train_err['pro_err'].astype(str)
test_err['pro_err'] = test_err['pro_err'].astype(str)

In [ ]:
test_err['pro_err'] = np.where(test_err['pro_err'] == '1','1.0',test_err['pro_err'])
test_err['pro_err'] = np.where(test_err['pro_err'] == '25','1.0',test_err['pro_err'])

In [81]:
#train_err['pro_err'] = train_err['pro_err'].astype('category').cat.codes
items = train_err['pro_err']
t_items = test_err['pro_err']
encoder = LabelEncoder()
encoder.fit(items)
train_err["pro_both"] = encoder.transform(items)
test_err["pro_both"] = encoder.transform(t_items)

In [239]:
test_err['pro_err'] = np.where(test_err['pro_err'] == 38,test_err['errtype'],test_err['pro_err'])

In [82]:
train_err.to_csv("both_train.csv")
test_err.to_csv("both_test.csv")

In [232]:
train_err['pro_both'].value_counts()

28      1865361
33      1835562
15      1604951
16      1249376
2783    1175592
         ...
1615          1
1616          1
1617          1
1618          1
1366          1
Name: pro_both, Length: 2871, dtype: int64

In [162]:
train_err['pro_err'].unique()

array([  15,   10,    9, ..., 1501, 1294,  450], dtype=int16)

In [163]:
train_err.to_csv("pro_errcode.csv")

In [164]:

def change(a): 
    return(str(a)+'.')


def change2(b): 
    return(str(b))

test_err['pro_err'] = test_err['errtype'].map(change) + test_err['errcode'].map(change2)

#main_code에 해당하는 변수 
main_code = [i for i in range(42)]
#40,14,33,34,7
for i in tqdm(range(1,43)):
    if i in main_code:
        continue
    test_err['pro_err'] = np.where(test_err['errtype'] == i,test_err['errtype'],test_err['pro_err'])

100%|██████████████████████████████████████████████████████████████████████████████████| 42/42 [00:01<00:00, 41.91it/s]

In [46]:
len(train_err['pro_err'].unique())

1477

In [47]:
both =set(train_err['pro_err'].unique()) & set(test_err['pro_err'].unique())

In [208]:
test_err['pro_err'].unique()

array(['31.1', '33.2', '15.1', ..., '38.5803', '38.5444', '38.5691'],
      dtype=object)

In [ ]:
a  = set(train_err['pro_err'].unique())
b  = set(test_err['pro_err'].unique())

In [ ]:
len(a)

In [31]:
train_err = pd.read_csv('both_train.csv')

In [32]:
test_err= pd.read_csv('both_test.csv')

In [10]:
c = set(a['pro_err'].unique())

In [11]:
d =set(b['pro_err'].unique())

In [30]:
checks = list(c-d) + list(d-c)

In [117]:
id_error = test_err[['user_id','errtype']].values
test_x = np.zeros((test_user_number,42))
for person_idx, err in tqdm(id_error):
    # person_idx - test_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    test_x[person_idx - test_user_id_min,err - 1] += 1
test_x = test_x.reshape(test_x.shape[0],-1)
print(test_x.shape)

NameError: name 'test_user_number' is not defined

## 모델 + 펌웨어 동시에..

In [120]:

def change(a): 
    return(str(a)+'.')


def change2(b): 
    return(str(b))

In [130]:
train_err['model_fw'] = train_err['model_nm'].map(change) + train_err['pro_fwver'].map(change2)
test_err['model_fw'] = test_err['model_nm'].map(change) + test_err['pro_fwver'].map(change2)

In [122]:
train_err.head()

   user_id            time model_nm       fwver  errtype errcode pro_fwver       model_fw
0    10000  20201101025616  model_3  05.15.2138       15       1     05.15  model_3.05.15
1    10000  20201101030309  model_3  05.15.2138       12       1     05.15  model_3.05.15
2    10000  20201101030309  model_3  05.15.2138       11       1     05.15  model_3.05.15
3    10000  20201101050514  model_3  05.15.2138       16       1     05.15  model_3.05.15
4    10000  20201101050515  model_3  05.15.2138        4       0     05.15  model_3.05.15

In [123]:
#train_err['pro_err'] = train_err['pro_err'].astype('category').cat.codes
items = train_err['model_fw']
#t_items = test_err['pro_err']
encoder = LabelEncoder()
encoder.fit(items)
train_err["model_fw"] = encoder.transform(items)
#test_err["pro_both"] = encoder.transform(t_items)

In [125]:
train_err['model_fw'].unique()

array([3, 2, 0, 1, 8, 4, 5, 9, 6, 7])

In [129]:
train_err['pro_fwver'].unique()

array(['05.15', '04.33', '04.22', '04.16', '05.66', '03.11', '04.82',
       '04.73', '10', '8.5.3'], dtype=object)

In [132]:
train_err['model_fw'].unique()

array(['model_3.05.15', 'model_2.04.33', 'model_0.04.22', 'model_1.04.16',
       'model_7.05.66', 'model_4.03.11', 'model_5.04.82', 'model_8.04.73',
       'model_6.10', 'model_6.8.5.3'], dtype=object)

In [133]:
# 같은 모델, 같은 펌웨어...

## 펌웨어를 변경한 사람들 특징?

In [6]:
id_model = [0 for i in range(15000)]
for i in tqdm(range(10000,25000)):
    check =  train_err[train_err["user_id"] == i]
    n=check["fwver"].value_counts()
    if len(n)>1:
        id_model[i-10000] = 1

100%|████████████████████████████████████████████████████████████████████████████| 15000/15000 [04:40<00:00, 53.52it/s]

In [ ]:
t_id_model = [0 for i in range(14999)]
for i in tqdm(range(30000,44999)):
    check =  test_err[test_err["user_id"] == i]
    n=check["model_nm"].value_counts()
    if len(n) > 1:
        t_id_model[i-30000] = 1

In [7]:
a = pd.DataFrame(id_model)
a.value_counts()

1    8580
0    6420
dtype: int64

In [147]:
b = pd.DataFrame(t_id_model)
b.value_counts()

0    14340
1      659
dtype: int64

In [8]:
user_df = pd.read_csv("user_df2.csv")

In [12]:
user_df['change_fvwer'] = a

In [14]:
user_df.to_csv('user_df2.csv',index = False)

In [142]:
user_df['change_model'] = a

In [148]:
t_user_df['change_model'] = b

In [149]:
t_user_df.head()

   user_id  user_model  quality  user_fwver  change_model
0    30000           1     12.0           1             1
1    30001           3     36.0           6             0
2    30002           0    120.0           2             0
3    30003           0     60.0           2             0
4    30004           1     24.0           1             1

In [ ]:
qdata.quality_5 = qdata.quality_5.str.replace(',', '').astype('float64')
qdata.quality_7 = qdata.quality_7.str.replace(',', '').astype('float64')
qdata.quality_8 = qdata.quality_8.str.replace(',', '').astype('float64')
qdata.quality_9 = qdata.quality_9.str.replace(',', '').astype('float64')
qdata.quality_10 = qdata.quality_10.str.replace(',', '').astype('float64')

test_user_number = 14999
test_user_id_min = 30000
t_id_q = t_qdata[['user_id','quality_1','quality_2','quality_3','quality_4','quality_5','quality_6','quality_7','quality_8','quality_9','quality_10','quality_11','quality_12']].values

t_error = np.zeros((test_user_number,12))
for err in tqdm(t_id_q):
    person_idx = int(err[0])
    tt = err[1:]
    tt = np.array(tt)
    tt = tt.astype(float)
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    t_error[person_idx - test_user_id_min] += tt
t_error.shape

## 누적합 생성

In [5]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from tqdm import tqdm
import gc
import random
import lightgbm as lgb
import xgboost as xgb 
import re
from sklearn.metrics import *
from sklearn.model_selection import KFold
import warnings
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings(action='ignore')

# 필요한 함수 정의
def make_datetime(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = int(x[:4])
    month = int(x[4:6])
    day   = int(x[6:8])
    hour  = int(x[8:10])
    #mim  = int(x[10:12])
    #sec  = int(x[12:])
    return day

def string2num(x):
    # (,)( )과 같은 불필요한 데이터 정제
    x = re.sub(r"[^0-9]+", '', str(x))
    if x =='':
        return 0
    else:
        return int(x)



PATH = 'C:/Users/hyeonggu/Desktop/lg 챌린지/data (2)/'

In [6]:
train_err['pro_time_day'] = train_err['time'].apply(make_datetime)
test_err['pro_time_day'] = test_err['time'].apply(make_datetime)

In [7]:
max(train_err['pro_time_day'].unique())

31

In [43]:
train_user_number = 15000
test_user_number = 14999
train_user_id_min =10000
test_user_id_min = 30000
test_err.head(100)

    user_id            time model_nm       fwver  errtype             errcode  pro_fwver
0     30000  20201101030227  model_1  04.16.3553       31                   1  04.16.355
1     30000  20201101030227  model_1  04.16.3553       33                   2  04.16.355
2     30000  20201101030228  model_1  04.16.3553       15                   1  04.16.355
3     30000  20201101030256  model_1  04.16.3553       22                   1  04.16.355
4     30000  20201101030300  model_1  04.16.3553       11                   1  04.16.355
5     30000  20201101030300  model_1  04.16.3553       12                   1  04.16.355
6     30000  20201101030312  model_1  04.16.3553       15                   1  04.16.355
7     30000  20201101080726  model_1  04.16.3553       23  connection timeout  04.16.355
8     30000  20201101080737  model_1  04.16.3553       22                   1  04.16.355
9     30000  20201101191001  model_1  04.16.3553       26                   1  04.16.355
10    30000  20201101191002  model_1  04.16.3553       16                   1  04.16.355
11    30000  20201101191021  model_1  04.16.3553       31                   0  04.16.355
12    30000  20201101191043  model_1  04.16.3553       23  connection timeout  04.16.355
13    30000  20201101191056  model_1  04.16.3553       22                   1  04.16.355
14    30000  20201101191101  model_1  04.16.3553       23  connection timeout  04.16.355
15    30000  20201101191104  model_1  04.16.3553       22                   1  04.16.355
16    30000  20201101191503  model_1  04.16.3553       23  connection timeout  04.16.355
17    30000  20201101191522  model_1  04.16.3553       22                   1  04.16.355
18    30000  20201101191527  model_1  04.16.3553       23  connection timeout  04.16.355
19    30000  20201101191530  model_1  04.16.3553       22                   1  04.16.355
20    30000  20201101191605  model_1  04.16.3553       23  connection timeout  04.16.355
21    30000  20201101191623  model_1  04.16.3553       23  connection timeout  04.16.355
22    30000  20201101191631  model_1  04.16.3553       22                   1  04.16.355
23    30000  20201101192318  model_1  04.16.3553       15                   1  04.16.355
24    30000  20201101200339  model_1  04.16.3553       16                   1  04.16.355
25    30000  20201101200339  model_1  04.16.3553       31                   1  04.16.355
26    30000  20201101200359  model_1  04.16.3553       31                   0  04.16.355
27    30000  20201101204309  model_1  04.16.3553       23  connection timeout  04.16.355
28    30000  20201101204328  model_1  04.16.3553       22                   1  04.16.355
29    30000  20201101204332  model_1  04.16.3553       23  connection timeout  04.16.355
30    30000  20201101204526  model_1  04.16.3553       22                   1  04.16.355
31    30000  20201101215207  model_1  04.16.3553       23  connection timeout  04.16.355
32    30000  20201101215800  model_1  04.16.3553       22                   1  04.16.355
33    30000  20201101220921  model_1  04.16.3553       23  connection timeout  04.16.355
34    30000  20201101220932  model_1  04.16.3553       22                   1  04.16.355
35    30000  20201101220937  model_1  04.16.3553       23  connection timeout  04.16.355
36    30000  20201101220949  model_1  04.16.3553       22                   1  04.16.355
37    30000  20201101220954  model_1  04.16.3553       23  connection timeout  04.16.355
38    30000  20201101221016  model_1  04.16.3553       23  connection timeout  04.16.355
39    30000  20201101221033  model_1  04.16.3553       23  connection timeout  04.16.355
40    30000  20201101221047  model_1  04.16.3553       22                   1  04.16.355
41    30000  20201101221058  model_1  04.16.3553       23  connection timeout  04.16.355
42    30000  20201101221100  model_1  04.16.3553       22                   1  04.16.355
43    30000  20201101221149  model_1  04.16.3553       23  connection timeout  04.16.355
44    30000  20201101221200  model_1  04.16.3553       22                   1  04.16.355
45    30000  20201101221313  model_1  04.16.3553       23  connection timeout  04.16.355
46    30000  20201101221332  model_1  04.16.3553       22                   1  04.16.355
47    30000  20201101221429  model_1  04.16.3553       23  connection timeout  04.16.355
48    30000  20201101221430  model_1  04.16.3553       22                   1  04.16.355
49    30000  20201101221521  model_1  04.16.3553       23  connection timeout  04.16.355
50    30000  20201101221537  model_1  04.16.3553       23  connection timeout  04.16.355
51    30000  20201101221548  model_1  04.16.3553       22                   1  04.16.355
52    30000  20201101221624  model_1  04.16.3553       23  connection timeout  04.16.355
53    30000  20201101221637  model_1  04.16.3553       22                   1  04.16.355
54    30000  20201101221647  model_1  04.16.3553       23  connection timeout  04.16.355
55    30000  20201101221655  model_1  04.16.3553       22                   1  04.16.355
56    30000  20201101221700  model_1  04.16.3553       23  connection timeout  04.16.355
57    30000  20201101221712  model_1  04.16.3553       22                   1  04.16.355
58    30000  20201101221908  model_1  04.16.3553       23  connection timeout  04.16.355
59    30000  20201101221920  model_1  04.16.3553       22                   1  04.16.355
60    30000  20201101221925  model_1  04.16.3553       23  connection timeout  04.16.355
61    30000  20201101221942  model_1  04.16.3553       23  connection timeout  04.16.355
62    30000  20201101221946  model_1  04.16.3553       22                   1  04.16.355
63    30000  20201101222005  model_1  04.16.3553       23  connection timeout  04.16.355
64    30000  20201101222017  model_1  04.16.3553       22                   1  04.16.355
65    30000  20201101222114  model_1  04.16.3553       23  connection timeout  04.16.355
66    30000  20201101222117  model_1  04.16.3553       22                   1  04.16.355
67    30000  20201101222122  model_1  04.16.3553       23  connection timeout  04.16.355
68    30000  20201101222125  model_1  04.16.3553       22                   1  04.16.355
69    30000  20201101222130  model_1  04.16.3553       23  connection timeout  04.16.355
70    30000  20201101222149  model_1  04.16.3553       23  connection timeout  04.16.355
71    30000  20201101222207  model_1  04.16.3553       22                   1  04.16.355
72    30000  20201101222326  model_1  04.16.3553       23  connection timeout  04.16.355
73    30000  20201101222342  model_1  04.16.3553       23  connection timeout  04.16.355
74    30000  20201101222352  model_1  04.16.3553       22                   1  04.16.355
75    30000  20201101222852  model_1  04.16.3553       15                   1  04.16.355
76    30000  20201102010157  model_1  04.16.3553       23  connection timeout  04.16.355
77    30000  20201102010158  model_1  04.16.3553       22                   1  04.16.355
78    30000  20201103030227  model_1  04.16.3553       33                   2  04.16.355
79    30000  20201103030227  model_1  04.16.3553       31                   1  04.16.355
80    30000  20201103030229  model_1  04.16.3553       15                   1  04.16.355
81    30000  20201103030255  model_1  04.16.3553       22                   1  04.16.355
82    30000  20201103030301  model_1  04.16.3553       12                   1  04.16.355
83    30000  20201103030301  model_1  04.16.3553       11                   1  04.16.355
84    30000  20201103030319  model_1  04.16.3553       15                   1  04.16.355
85    30000  20201105030226  model_1  04.16.3553       33                   2  04.16.355
86    30000  20201105030226  model_1  04.16.3553       31                   1  04.16.355
87    30000  20201105030227  model_1  04.16.3553       15                   1  04.16.355
88    30000  20201105030255  model_1  04.16.3553       22                   1  04.16.355
89    30000  20201105030301  model_1  04.16.3553       12                   1  04.16.355
90    30000  20201105030301  model_1  04.16.3553       11                   1  04.16.355
91    30000  20201105030311  model_1  04.16.3553       15                   1  04.16.355
92    30000  20201105101005  model_1  04.16.3553       26                   1  04.16.355
93    30000  20201105101006  model_1  04.16.3553       16                   1  04.16.355
94    30000  20201105101014  model_1  04.16.3553       17                  14  04.16.355
95    30000  20201105101016  model_1  04.16.3553        5             S-61001  04.16.355
96    30000  20201105101026  model_1  04.16.3553       31                   0  04.16.355
97    30000  20201105101857  model_1  04.16.3553       23  connection timeout  04.16.355
98    30000  20201105101914  model_1  04.16.3553       23  connection timeout  04.16.355
99    30000  20201105101928  model_1  04.16.3553       22                   1  04.16.355

In [10]:
# user_id와 errtype만을 사용하여 데이터 셋 생성
# 모든 일자에 대해서 errtype별 발생 건수를 count
# pandas의 groupby를 활용할 경우 큰 연산 자원이 필요.
# numpy로 placeholder를 만들어 구현함.
id_error = train_err[['user_id','errtype','pro_time_day']].values
error = np.zeros((31,train_user_number,42))

for person_idx, err,day in tqdm(id_error):
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    error[day-1,person_idx - train_user_id_min,err - 1] += 1
error.shape

100%|██████████████████████████████████████████████████████████████████| 16554663/16554663 [00:54<00:00, 303976.88it/s]

(31, 15000, 42)

In [88]:
# user_id와 errtype만을 사용하여 데이터 셋 생성
# 모든 일자에 대해서 errtype별 발생 건수를 count
# pandas의 groupby를 활용할 경우 큰 연산 자원이 필요.
# numpy로 placeholder를 만들어 구현함.
t_id_error = test_err[['user_id','errtype','pro_time_day']].values
t_error = np.zeros((31,test_user_number,42))

for person_idx, err,day in tqdm(t_id_error):
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    t_error[day-1,person_idx - test_user_id_min,err - 1] += 1
t_error.shape

100%|██████████████████████████████████████████████████████████████████| 16532648/16532648 [00:54<00:00, 302008.11it/s]

(31, 14999, 42)

In [90]:
error_sum = np.sum(error,axis = 2)
t_error_sum = np.sum(t_error,axis = 2)

In [244]:
error_sum2 = np.zeros((15000,744))
for i in tqdm(range(744)):
    tem = np.zeros(15000)
    for j in range(i):
        tem += error_sum[j]
    error_sum2[:,i] = tem

100%|███████████████████████████████████████████████████████████████████████████████| 744/744 [00:02<00:00, 283.91it/s]

In [170]:
t_error_sum2 = np.zeros((14999,31))
for i in tqdm(range(31)):
    tem = np.zeros(14999)
    for j in range(i):
        tem += t_error_sum[j]
    t_error_sum2[:,i] = tem

100%|████████████████████████████████████████████████████████████████████████████████| 31/31 [00:00<00:00, 7753.33it/s]

In [93]:
#날짜별 에러수 표준변차 
std = error_sum.std(axis=0)
std = pd.DataFrame(std)
std.to_csv('std.csv',index = False)

t_std = t_error_sum.std(axis=0)
t_std = pd.DataFrame(t_std)
t_std.to_csv('t_std.csv',index = False)

#날짜별 에러 종류수
from scipy.stats import mode
error_type= (error != 0)
error_type_sum = np.sum(error_type,axis = 2)
error_type_sum
err_type_std = mode(error_type_sum,axis=0)
std['type_std'] = pd.Series(err_type_std[0].reshape(15000,))

In [86]:
del std['type_std']

In [87]:
std.to_csv('std.csv',index = False)

In [245]:
sum700 = pd.DataFrame(error_sum2)
#t_sum700= pd.DataFrame(t_error_sum2)

In [246]:
sum700.to_csv('sum700.csv',index = 0)
#t_sum700.to_csv('t_sum31.csv',index =0)

## 퀄리티 데이터 누적합

In [175]:
qdata['pro_time_day'] = qdata['time'].apply(make_datetime)

In [176]:
qdata.head()

             time  user_id       fwver  quality_0  quality_1  quality_2  quality_3  quality_4 quality_5  quality_6 quality_7 quality_8 quality_9 quality_10  quality_11  quality_12  pro_time_day
0  20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0            29
1  20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0            29
2  20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0            29
3  20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0            29
4  20201129090000    10000  05.15.2138        0.0          0        0.0          0          0         0          0         0         0         0          4           0           0            29

In [178]:
# user_id와 errtype만을 사용하여 데이터 셋 생성
# 모든 일자에 대해서 errtype별 발생 건수를 count
# pandas의 groupby를 활용할 경우 큰 연산 자원이 필요.
# numpy로 placeholder를 만들어 구현함.
qul = qdata[['user_id','pro_time_day']].values
q_num = np.zeros((train_user_number,31))

for person_idx,day in tqdm(qul):
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    q_num[person_idx - train_user_id_min,day-1] += 1
q_num.shape

100%|██████████████████████████████████████████████████████████████████████| 828624/828624 [00:02<00:00, 346761.87it/s]

(15000, 31)

In [182]:
q_num.shape

(15000, 31)

In [189]:
q_sum2 = np.zeros((15000,31))
for i in tqdm(range(31)):
    tem = np.zeros(15000)
    for j in range(i):
        tem += q_num[:,j]
    q_sum2[:,i] = tem

100%|████████████████████████████████████████████████████████████████████████████████| 31/31 [00:00<00:00, 3099.19it/s]

In [195]:
q_sum2 = pd.DataFrame(q_sum2)
q_sum2.to_csv('q_sum31.csv',index =False)

In [188]:
q_num.shape

(15000, 31)

## 모델 + 에러 타입

In [196]:
train_err

          user_id            time model_nm       fwver  errtype errcode pro_fwver       model_fw  pro_time_day
0           10000  20201101025616  model_3  05.15.2138       15       1     05.15  model_3.05.15             1
1           10000  20201101030309  model_3  05.15.2138       12       1     05.15  model_3.05.15             1
2           10000  20201101030309  model_3  05.15.2138       11       1     05.15  model_3.05.15             1
3           10000  20201101050514  model_3  05.15.2138       16       1     05.15  model_3.05.15             1
4           10000  20201101050515  model_3  05.15.2138        4       0     05.15  model_3.05.15             1
...           ...             ...      ...         ...      ...     ...       ...            ...           ...
16554658    24999  20201130163051  model_3  05.15.2138       15       1     05.15  model_3.05.15            30
16554659    24999  20201130172625  model_3  05.15.2138       16       1     05.15  model_3.05.15            30
16554660    24999  20201130172625  model_3  05.15.2138        4       0     05.15  model_3.05.15            30
16554661    24999  20201130172631  model_3  05.15.2138        4       0     05.15  model_3.05.15            30
16554662    24999  20201130210625  model_3  05.15.2138       15       1     05.15  model_3.05.15            30

[16554663 rows x 9 columns]

In [197]:
train_err['model_errtype'] = train_err['model_nm'].map(change) + train_err['errtype'].map(change2)
test_err['model_errtype'] = test_err['model_nm'].map(change) + test_err['errtype'].map(change2)

In [198]:
train_err.head()

   user_id            time model_nm       fwver  errtype errcode pro_fwver       model_fw  pro_time_day model_errtype
0    10000  20201101025616  model_3  05.15.2138       15       1     05.15  model_3.05.15             1    model_3.15
1    10000  20201101030309  model_3  05.15.2138       12       1     05.15  model_3.05.15             1    model_3.12
2    10000  20201101030309  model_3  05.15.2138       11       1     05.15  model_3.05.15             1    model_3.11
3    10000  20201101050514  model_3  05.15.2138       16       1     05.15  model_3.05.15             1    model_3.16
4    10000  20201101050515  model_3  05.15.2138        4       0     05.15  model_3.05.15             1     model_3.4

In [199]:
items = train_err['model_errtype']
#t_items = test_err['pro_err']
encoder = LabelEncoder()
encoder.fit(items)
train_err["model_errtype"] = encoder.transform(items)
#test_err["pro_both"] = encoder.transform(t_items)

In [201]:
train_err['model_errtype'].unique()

array([127, 124, 123, 128, 139, 134, 122, 126, 137, 125, 141, 142, 135,
       136,  87, 103, 105,  84,  83,  95,  99,  88, 114, 116,  86, 113,
       106,  85, 117, 118, 109, 108,  96,  90,  93,  91,  94, 115,  97,
        98, 133, 140,  89, 110,   4,   3,   5,  36,  37,   6,  24,   2,
        14,  18,   7,  22,  15,  32,  31,  28,  27,  34,  33,  35,  16,
        25,  30,   1,  26,  20,  19,  46,  47,  63,  48,  65,  42,  43,
        76,  66,  67,  77,  78,  45,  72,  55,  54,  58,  64,  73,  74,
         8,  82, 138, 129,  44,  70,  69,  68,  56,  11,  29,  41,  59,
        60,  71, 107, 100, 101,  75,  50,  53, 111, 104, 206, 217, 207,
       228, 232, 213, 203, 202, 226, 220, 222, 225, 221, 230, 229, 154,
       155, 158, 145, 147, 148, 151, 152, 146, 161, 160, 150,  49,  52,
        57, 169, 180, 170, 184, 194, 186, 177, 165, 166, 178, 197, 191,
       193, 199, 171, 188, 187, 189, 190,   9,  12, 132, 130, 153, 159,
       156,  21,  80,  13,  10, 238, 237, 241, 242, 243, 266, 253, 264,
       268, 240, 239, 249, 244, 247, 250, 149,  17, 144, 214, 234, 205,
       233, 251, 121,  40, 167, 168, 174,  81,   0, 200, 162, 102, 215,
       208, 201, 218, 198, 164, 195, 119, 131, 267, 185, 196, 204,  62,
        38, 261, 262, 258, 256, 257, 265, 260, 263, 224, 227,  39, 112,
        51, 143,  23, 255,  92, 219, 223, 192, 209, 211, 172, 175, 183,
       157,  79, 120, 173, 176, 246, 236, 254, 259, 181, 182, 210, 212,
       216, 179, 245, 248, 252, 235, 231,  61, 163])

In [211]:
user_df  = pd.read_csv(PATH+'user_df2.csv')

In [212]:
user_df['model_errtype'] = train_err['model_errtype']

In [224]:
user_df.to_csv('user_df2.csv',index =False)

In [214]:
user_df

       Unnamed: 0  user_id  user_model  quality  user_fwver  change_model  model_errtype
0               0    10000           3     24.0           6             0            127
1               1    10001           2      0.0           3             0            124
2               2    10002           3     96.0           6             0            123
3               3    10003           2      0.0           3             0            128
4               4    10004           0     24.0           2             0            139
...           ...      ...         ...      ...         ...           ...            ...
14995       14995    24995           2     24.0           3             0              3
14996       14996    24996           3      0.0           6             0              6
14997       14997    24997           0     24.0           2             0             14
14998       14998    24998           0      0.0           2             0             18
14999       14999    24999           3      0.0           6             0              7

[15000 rows x 7 columns]

   ## 가장 많이 나오는 에러 타입? 에러 코드 정리

In [215]:
#Train

most_type = ["" for i in range(15000)]
for i in tqdm(range(10000,25000)):
    check =  train_err[train_err["user_id"] == i]
    n=check["errtype"].value_counts()
    if len(n) == 0:
        t_id_fwver[i-10000] = 1
        continue
    tt = n.keys()[0]
    most_type[i-10000] = tt

100%|████████████████████████████████████████████████████████████████████████████| 15000/15000 [18:13<00:00, 13.72it/s]

In [216]:
most_code = ["" for i in range(15000)]
for i in tqdm(range(10000,25000)):
    check =  train_err[train_err["user_id"] == i]
    n=check["errcode"].value_counts()
    if len(n) == 0:
        most_code[i-10000] = 1
        continue
    tt = n.keys()[0]
    most_code[i-10000] = tt

100%|████████████████████████████████████████████████████████████████████████████| 15000/15000 [04:47<00:00, 52.23it/s]

In [217]:
user_df['most_type'] = pd.Series(most_type) 
user_df['most_code'] = pd.Series(most_code)

In [218]:
user_df.head()

   Unnamed: 0  user_id  user_model  quality  user_fwver  change_model  model_errtype  most_type most_code
0           0    10000           3     24.0           6             0            127          4         1
1           1    10001           2      0.0           3             0            124         22         1
2           2    10002           3     96.0           6             0            123          4         1
3           3    10003           2      0.0           3             0            128         31         1
4           4    10004           0     24.0           2             0            139         31         1

In [220]:
items = user_df['most_type']
#t_items = test_err['pro_err']
encoder = LabelEncoder()
encoder.fit(items)
user_df["most_type"] = encoder.transform(items)
#test_err["pro_both"] = encoder.transform(t_items)

In [221]:
items = user_df['most_code']
#t_items = test_err['pro_err']
encoder = LabelEncoder()
encoder.fit(items)
user_df["most_code"] = encoder.transform(items)
#test_err["pro_both"] = encoder.transform(t_items)

In [223]:
user_df['most_code'].unique()

array([ 1, 23,  0, 16,  8,  9, 12,  7,  2, 19, 11, 18,  3, 10, 17,  6,  5,
       13,  4, 14, 22, 20, 15, 21])

In [5]:
#TEST
t_most_type = ["" for i in range(14999)]
for i in tqdm(range(30000,44998)):
    check =  test_err[test_err["user_id"] == i]
    n=check["errtype"].value_counts()
    if len(n) == 0:
        t_most_type[i-30000] = 1
        continue
    tt = n.keys()[0]
    t_most_type[i-30000] = tt

100%|████████████████████████████████████████████████████████████████████████████| 14998/14998 [04:49<00:00, 51.79it/s]

In [6]:
t_user_df =pd.read_csv('t_user_df2.csv')

t_user_df['most_type'] = pd.Series(t_most_type) 

items = t_user_df['most_type']
#t_items = test_err['pro_err']
encoder.fit(items)
t_user_df["most_type"] = encoder.transform(items)
#test_err["pro_both"] = encoder.transform(t_items)

NameError: name 'most_type' is not defined

## 퀄정보 여부러 나눠서 보기

In [4]:
q_id = list(qdata['user_id'].unique())

In [5]:
q = []

In [6]:
for i in tqdm(q_id):
    tem = train_err[train_err['user_id'] == i].index
    q.append(tem)

 19%|██████████████▌                                                               | 1548/8281 [00:28<02:03, 54.57it/s]

KeyboardInterrupt:

In [10]:
q_train_err = train_err[train_err['user_id'].isin(q_id)]

In [15]:
q_id = list(qdata['user_id'].unique())
q_id = np.array(q_id)
q_id = q_id -10000

In [16]:
q_id

array([    0,     2,     4, ..., 14993, 14995, 14997], dtype=int64)

In [15]:
train_prob = pd.read_csv(PATH+'train_problem_data.csv')

In [21]:
def make_datetime(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = int(x[:4])
    month = int(x[4:6])
    day   = int(x[6:8])
    hour  = int(x[8:10])
    #mim  = int(x[10:12])
    #sec  = int(x[12:])
    return hour

In [22]:
train_prob['hour'] = train_prob['time'].map(make_datetime)

In [24]:
 dict(train_prob['hour'].value_counts())

In [44]:
a

{12: 627,
 11: 600,
 13: 518,
 19: 507,
 18: 492,
 15: 489,
 16: 460,
 17: 432,
 22: 233,
 20: 233,
 14: 228,
 21: 204,
 23: 175,
 0: 108,
 1: 67,
 2: 15,
 10: 14,
 9: 8,
 5: 5,
 8: 5,
 3: 4,
 4: 3,
 6: 1,
 7: 1}

In [32]:
train_err['hour'] = train_err['time'].map(make_datetime)

In [46]:
train_err[train_err['user_id'] == 10013]['hour'].value_counts()

12    365
10    354
11    320
9     272
3     268
8     255
2     246
7     223
6     217
5     204
16    203
4     202
15    195
18    186
20    177
19    170
22    164
13    158
21    158
1     150
17    137
23    117
14    104
0     103
Name: hour, dtype: int64

## 퀄리티 데이터 측정이 가장 긴 시간으로 보기

In [243]:
qdata  = pd.read_csv(PATH+'train_quality_data.csv')

a = qdata.groupby(by =['user_id','time']).count()['quality_10']
tem = np.array(a.keys())
tem2 = a.values
a = np.vstack(tem)
data = pd.DataFrame(a,columns =['user_id','time'])
data['count'] = tem2

data = data.sort_values(by = ['user_id','time'])
data


id_error = data.values
q_count = np.zeros((train_user_number,6))
i= 0
while(True):
    if i>68949:
        break
    j = 0 
    user_id,time,count = id_error[i]
    if int(id_error[i+1][1]) == int(time) + 20000:
        if int(id_error[i+2][1]) == int(time)+40000:
            if int(id_error[i+3][1]) == int(time) + 60000:
                if int(id_error[i+4][1]) == int(time) + 80000:
                    if int(id_error[i+5][1]) == int(time)+100000:
                        i+=1
                        j+=1
                    i+=1
                    j+=1
                i+=1
                j+=1
            i+=1
            j+=1
        i+=1
        j+=1
        
    q_count[user_id-10000][j] += count
    i+=1
    
q_real = pd.DataFrame(q_count)
q_real.to_csv('q10_real.csv',index=False)

In [260]:
a = t_qdata.groupby(by =['user_id','time']).count()['quality_10']
tem = np.array(a.keys())
tem2 = a.values
a = np.vstack(tem)
data = pd.DataFrame(a,columns =['user_id','time'])
data['count'] = tem2

data = data.sort_values(by = ['user_id','time'])
data


test_user_number = 14999
test_user_id_min = 30000

id_error = data.values
q_count = np.zeros((test_user_number,6))
i= 0
while(True):
    if i>62258:
        break
    j = 0 
    user_id,time,count = id_error[i]
    if int(id_error[i+1][1]) == int(time) + 20000:
        if int(id_error[i+2][1]) == int(time)+40000:
            if int(id_error[i+3][1]) == int(time) + 60000:
                if int(id_error[i+4][1]) == int(time) + 80000:
                    if int(id_error[i+5][1]) == int(time)+100000:
                        i+=1
                        j+=1
                    i+=1
                    j+=1
                i+=1
                j+=1
            i+=1
            j+=1
        i+=1
        j+=1
        
    q_count[user_id-30000][j] += count
    i+=1
    
q_real = pd.DataFrame(q_count)
q_real.to_csv('t_q10_real.csv',index=False)

In [264]:
t_qdata.groupby(by =['user_id','time']).count()['quality_10']

user_id  time
30000    20201128195000    12
30001    20201102202000    12
         20201104202000    12
         20201112040000    12
30002    20201101000000    12
                           ..
44996    20201125011000    12
         20201126011000    12
         20201127111000    12
44997    20201102214000    12
         20201125180000    12
Name: quality_10, Length: 62262, dtype: int64

## 퀄리티 데이터 펌웨어 별 합

In [3]:
qdata  = pd.read_csv(PATH+'train_quality_data.csv')
def make_fwver(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = x[:8]
    return year

qdata["4_fwver"] = qdata['fwver'].apply(make_fwver)
qdata.head()

   #레이블 인코딩
items = qdata["4_fwver"]
#t_items = t_user_df["user_fwver"]
encoder = LabelEncoder()
encoder.fit(items)
qdata["fwver"] = encoder.transform(items)
#t_user_df["user_fwver"] = encoder.transform(t_items)

qdata.head()

qdata.quality_5 = qdata.quality_5.str.replace(',', '').astype('float64')
qdata.quality_7 = qdata.quality_7.str.replace(',', '').astype('float64')
qdata.quality_8 = qdata.quality_8.str.replace(',', '').astype('float64')
qdata.quality_9 = qdata.quality_9.str.replace(',', '').astype('float64')
qdata.quality_10 = qdata.quality_10.str.replace(',', '').astype('float64')

train_user_number = 15000
train_user_id_min = 10000
id_q = qdata[['user_id','fwver','quality_1','quality_2','quality_5','quality_6','quality_7','quality_9','quality_10','quality_11','quality_12']].values

pum_num  =18
error = np.zeros((train_user_number,pum_num,9))


for err in tqdm(id_q):
    person_idx = int(err[0])
    pum = int(err[1])
    tt = err[2:]
    tt = np.array(tt)
    tt = tt.astype(float)
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    error[person_idx - train_user_id_min,pum] += tt

fwver_q = np.hstack([error[:,i,:] for i in range(18)])
fwver_q.shape

fwver_q = pd.DataFrame(fwver_q)
fwver_q.to_csv('sum_fwver_quality.csv',index=False)

100%|██████████████████████████████████████████████████████████████████████| 828624/828624 [00:04<00:00, 180212.32it/s]

In [202]:
print(qdata['fwver'].unique())
print(len(fwver_q.columns))

[13  6  3  8  7 15  0 11 12 17 14  9 16  5  2 10  1  4]
234

In [4]:
t_qdata  = pd.read_csv(PATH+'test_quality_data.csv')
def make_fwver(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = x[:8]
    return year

t_qdata["4_fwver"] = t_qdata['fwver'].apply(make_fwver)
t_qdata.head()

   #레이블 인코딩
items = t_qdata["4_fwver"]
#t_items = t_user_df["user_fwver"]
encoder.fit(items)
t_qdata["fwver"] = encoder.transform(items)
#t_user_df["user_fwver"] = encoder.transform(t_items)

t_qdata.head()
t_qdata.quality_1 = t_qdata.quality_1.str.replace(',', '').astype('float64')
t_qdata.quality_5 = t_qdata.quality_5.str.replace(',', '').astype('float64')
t_qdata.quality_7 = t_qdata.quality_7.str.replace(',', '').astype('float64')
t_qdata.quality_8 = t_qdata.quality_8.str.replace(',', '').astype('float64')
t_qdata.quality_9 = t_qdata.quality_9.str.replace(',', '').astype('float64')
t_qdata.quality_10 = t_qdata.quality_10.str.replace(',', '').astype('float64')

test_user_number = 14999
test_user_id_min = 30000
t_id_q = t_qdata[['user_id','fwver','quality_1','quality_2','quality_5','quality_6','quality_7','quality_9','quality_10','quality_11','quality_12']].values

pum_num  =18
t_error = np.zeros((test_user_number,pum_num,9))


for err in tqdm(t_id_q):
    person_idx = int(err[0])
    pum = int(err[1])
    tt = err[2:]
    tt = np.array(tt)
    tt = tt.astype(float)
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    t_error[person_idx - test_user_id_min,pum] += tt

t_fwver_q = np.hstack([t_error[:,i,:] for i in range(18)])
t_fwver_q.shape

t_fwver_q = pd.DataFrame(t_fwver_q)
t_fwver_q.to_csv('t_sum_fwver_quality.csv',index=False)

100%|██████████████████████████████████████████████████████████████████████| 747972/747972 [00:03<00:00, 200214.72it/s]

In [258]:
a = set(qdata['4_fwver'].unique())
b= set(t_qdata['4_fwver'].unique())
b-a

set()

## 펌웨어별 퀄리티 데이터 MEAN

In [228]:
qdata  = pd.read_csv(PATH+'train_quality_data.csv')
def make_fwver(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = x[:8]
    return year


qdata["4_fwver"] = qdata['fwver'].apply(make_fwver)
qdata.head()

qdata.quality_5 = qdata.quality_5.str.replace(',', '').astype('float64')
qdata.quality_7 = qdata.quality_7.str.replace(',', '').astype('float64')
qdata.quality_8 = qdata.quality_8.str.replace(',', '').astype('float64')
qdata.quality_9 = qdata.quality_9.str.replace(',', '').astype('float64')
qdata.quality_10 = qdata.quality_10.str.replace(',', '').astype('float64')


#레이블 인코딩
items = qdata["4_fwver"]
#t_items = t_user_df["user_fwver"]
encoder = LabelEncoder()
encoder.fit(items)
qdata["fwver"] = encoder.transform(items)
#t_user_df["user_fwver"] = encoder.transform(t_items)
qdata = qdata[['user_id','fwver','quality_1','quality_2','quality_5','quality_6','quality_7','quality_9','quality_10','quality_11','quality_12']]


pum_num = 18
error_mean = np.zeros((train_user_number,pum_num,9))
q_index =   qdata.groupby(by =['user_id','fwver']).mean().index
fwver_temp=qdata.groupby(by =['user_id','fwver']).mean()
fwver_temp['index']=fwver_temp.index
for i in tqdm(range(len(fwver_temp))):  
    temp = fwver_temp.iloc[i]
    inx = temp[9]
    temp = temp.drop(temp.index[9])
    person_idx = int(inx[0])
    pum = int(inx[1])
    tt = temp
    tt = np.array(tt)
    tt = tt.astype(float)
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    error_mean[person_idx - train_user_id_min,pum] += tt
    
mean_q = np.hstack([error_mean[:,i,:] for i in range(18)])
print(mean_q.shape)

mean_q = pd.DataFrame(mean_q)
mean_q.to_csv('mean_fwver_quality.csv',index=False)

100%|████████████████████████████████████████████████████████████████████████████| 9317/9317 [00:03<00:00, 3068.14it/s]

(15000, 162)

In [204]:
qdata['fwver'].unique()

array([13,  6,  3,  8,  7, 15,  0, 11, 12, 17, 14,  9, 16,  5,  2, 10,  1,
        4])

## 퀄리티 별 표준편차

In [18]:
qdata  = pd.read_csv(PATH+'train_quality_data.csv')
def make_fwver(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = x[:8]
    return year


qdata["4_fwver"] = qdata['fwver'].apply(make_fwver)
qdata.head()

qdata.quality_5 = qdata.quality_5.str.replace(',', '').astype('float64')
qdata.quality_7 = qdata.quality_7.str.replace(',', '').astype('float64')
qdata.quality_8 = qdata.quality_8.str.replace(',', '').astype('float64')
qdata.quality_9 = qdata.quality_9.str.replace(',', '').astype('float64')
qdata.quality_10 = qdata.quality_10.str.replace(',', '').astype('float64')


#레이블 인코딩
items = qdata["4_fwver"]
#t_items = t_user_df["user_fwver"]
encoder = LabelEncoder()
encoder.fit(items)
qdata["fwver"] = encoder.transform(items)
#t_user_df["user_fwver"] = encoder.transform(t_items)
qdata = qdata[['user_id','fwver','quality_8']]


pum_num = 18

error_mean = np.zeros((train_user_number,pum_num,1))
q_index =   qdata.groupby(by =['user_id','fwver']).std().index
fwver_temp=qdata.groupby(by =['user_id','fwver']).std()
fwver_temp['index']=fwver_temp.index
for i in tqdm(range(len(fwver_temp))):  
    temp = fwver_temp.iloc[i]
    inx = temp[1]
    temp = temp.drop(temp.index[1])
    person_idx = int(inx[0])
    pum = int(inx[1])
    tt = temp
    tt = np.array(tt)
    tt = tt.astype(float)
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    error_mean[person_idx - train_user_id_min,pum] += tt
    
mean_q = np.hstack([error_mean[:,i,:] for i in range(18)])
print(mean_q.shape)

mean_q = pd.DataFrame(mean_q)
mean_q.to_csv('std_fwver_quality.csv',index=False)

100%|████████████████████████████████████████████████████████████████████████████| 9317/9317 [00:02<00:00, 3206.50it/s]

(15000, 18)

In [15]:
qdata  = pd.read_csv(PATH+'train_quality_data.csv')
def make_fwver(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = x[:2]
    return year

qdata["4_fwver"] = qdata['fwver'].apply(make_fwver)
qdata.head()
#레이블 인코딩
items = qdata["4_fwver"]
#t_items = t_user_df["user_fwver"]
encoder = LabelEncoder()
encoder.fit(items)
qdata["fwver"] = encoder.transform(items)
#t_user_df["user_fwver"] = encoder.transform(t_items)



qdata['fwver'].unique()

array([2, 1, 0, 4, 3])

In [13]:
qdata['fwver'].value_counts()

05.15.2138    163236
04.22.1750    142032
04.33.1261    131340
04.16.3553    111996
03.11.1167    104148
04.33.1185     66024
04.22.1778     56472
04.22.1684      3420
09.17.1431      3384
04.16.3571      2232
04.82.1684      1044
04.33.1149       804
04.22.1666       636
05.66.3237       552
04.82.1778       216
03.11.1149       204
04.73.2237       192
04.33.1125       144
05.66.3571        96
05.15.2114        96
05.15.2120        84
04.22.1442        84
05.15.2122        60
04.16.3439        12
04.22.1656        12
04.73.2571        12
04.16.3345        12
Name: fwver, dtype: int64

## MAX 값 추가

In [208]:
qdata  = pd.read_csv(PATH+'train_quality_data.csv')
def make_fwver(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = x[:8]
    return year


qdata["4_fwver"] = qdata['fwver'].apply(make_fwver)
qdata.head()

qdata.quality_5 = qdata.quality_5.str.replace(',', '').astype('float64')
qdata.quality_7 = qdata.quality_7.str.replace(',', '').astype('float64')
qdata.quality_8 = qdata.quality_8.str.replace(',', '').astype('float64')
qdata.quality_9 = qdata.quality_9.str.replace(',', '').astype('float64')
qdata.quality_10 = qdata.quality_10.str.replace(',', '').astype('float64')


#레이블 인코딩
items = qdata["4_fwver"]
#t_items = t_user_df["user_fwver"]
encoder = LabelEncoder()
encoder.fit(items)
qdata["fwver"] = encoder.transform(items)
#t_user_df["user_fwver"] = encoder.transform(t_items)


pum_num = 18
qdata = qdata[['user_id','fwver','quality_10','quality_12']]

error_mean = np.zeros((train_user_number,pum_num,2))
q_index =   qdata.groupby(by =['user_id','fwver']).max().index
fwver_temp=qdata.groupby(by =['user_id','fwver']).max()
fwver_temp['index']=fwver_temp.index
for i in tqdm(range(len(fwver_temp))):  
    temp = fwver_temp.iloc[i]
    inx = temp[2]
    temp = temp.drop(temp.index[2])
    person_idx = int(inx[0])
    pum = int(inx[1])
    tt = temp
    tt = np.array(tt)
    tt = tt.astype(float)
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    error_mean[person_idx - train_user_id_min,pum] += tt
    
mean_q = np.hstack([error_mean[:,i,:] for i in range(18)])
print(mean_q.shape)

mean_q = pd.DataFrame(mean_q)
mean_q.to_csv('max_fwver_quality.csv',index=False)

100%|████████████████████████████████████████████████████████████████████████████| 9317/9317 [00:02<00:00, 3160.80it/s]

(15000, 36)

## 타 깃허브 퀄리티 분석내용

In [7]:
train_quality  = pd.read_csv(PATH+'train_quality_data.csv')

train_quality['datetime'] = train_quality['time'].apply(make_datetime)
train_quality['day'] = train_quality.loc[:,'datetime'].dt.day
train_quality['month'] = train_quality.loc[:,'datetime'].dt.month
train_quality['year'] = train_quality.loc[:,'datetime'].dt.year
train_quality['hour'] = train_quality.loc[:,'datetime'].dt.hour
quality = train_quality
quality.info()
quality.fillna(0) #quality_5변수에 NA값이 있음

#quality의 문자열변수,정수형변수 -> 실수형으로 바꿔주기
cols = ['quality_0', 'quality_1', 'quality_2','quality_3', 'quality_4', 'quality_5', 
        'quality_6', 'quality_7','quality_8', 'quality_9', 'quality_10', 'quality_11', 'quality_12']
quality[cols] = quality[cols].replace({',':''}, regex= True) #2,345이런식으로 표현된(문자열) 원소들이 있음
quality.iloc[:,3:16] = quality.iloc[:,3:16].astype(float) #quality_n 변수들 실수형으로 바꿔주기
quality = quality.drop_duplicates() #중복되는 행 모두제거(모든열에 대해서)

quality1 = quality.groupby(['user_id','month','day'])[cols].sum() #규칙을찾음(무조건은 아님)
#규칙: quality변수중 가장 큰 원소값(max)을 가지는것이 그 시간대의 누적quality합임

qsum = []
#위 규칙대로 각 개체별 최대값을 qsum이라는 변수로 만듦
for i in range(0,len(quality1)):
  qsum.append(quality1.iloc[i].sum())
quality1['qsum'] = qsum
quality1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828624 entries, 0 to 828623
Data columns (total 21 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        828624 non-null  int64
 1   user_id     828624 non-null  int64
 2   fwver       788544 non-null  object
 3   quality_0   684192 non-null  float64
 4   quality_1   828624 non-null  int64
 5   quality_2   788511 non-null  float64
 6   quality_3   828624 non-null  int64
 7   quality_4   828624 non-null  int64
 8   quality_5   828604 non-null  object
 9   quality_6   828624 non-null  int64
 10  quality_7   828624 non-null  object
 11  quality_8   828624 non-null  object
 12  quality_9   828624 non-null  object
 13  quality_10  828624 non-null  object
 14  quality_11  828624 non-null  int64
 15  quality_12  828624 non-null  int64
 16  datetime    828624 non-null  datetime64[ns]
 17  day         828624 non-null  int64
 18  month       828624 non-null  int64
 19  year        828624 non-null  int64
 20  hour        828624 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(12), object(6)
memory usage: 132.8+ MB

                   quality_0  quality_1  quality_2  quality_3  quality_4  quality_5  quality_6  quality_7  quality_8  quality_9  quality_10  quality_11  quality_12  qsum
user_id month day
10000   11    29         0.0        0.0        0.0        0.0        0.0        4.0        0.0        0.0        0.0        0.0         8.0         0.0         0.0  12.0
              30         0.0        0.0        0.0        0.0        0.0        8.0        0.0        0.0        0.0        0.0        16.0         0.0         0.0  24.0
10002   11    4          2.0        0.0        1.0        0.0        0.0        0.0        0.0        0.0        0.0        2.0         0.0         0.0         0.0   5.0
              6          0.0        0.0        0.0        0.0        0.0        2.0        0.0        0.0        0.0        0.0         4.0         0.0         0.0   6.0
              11         0.0        0.0        0.0        0.0        0.0        4.0        2.0        8.0        0.0        0.0        16.0         0.0         0.0  30.0

In [8]:
quality1 = quality1.reset_index() #인덱스들을 변수로 빼내기

#index = user_id , columns = [month,day] , value = quality발생합 인 피벗테이블 만들기
#피벗테이블 만들기
quality1 = pd.pivot_table(quality1, values = 'qsum', index = 'user_id', columns = ['month','day'],aggfunc = 'sum')
quality1.fillna(0, inplace=True) #na를 0으로 채움
quality1.head()

month     10   11
day       31   1    2    3      4    5    6    7    8     9    10    11   12   13   14    15   16   17    18     19   20   21   22   23   24   25   26    27   28    29    30
user_id
10000    0.0  0.0  0.0  0.0    0.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0  0.0  0.0  0.0   0.0  0.0  0.0   0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  12.0  24.0
10002    0.0  0.0  0.0  0.0    5.0  0.0  6.0  0.0  0.0   0.0  0.0  30.0  0.0  0.0  0.0  15.0  0.0  0.0   6.0  141.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0  64.0
10004    0.0  0.0  9.0  0.0  264.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0  0.0  0.0  0.0   0.0  0.0  0.0   0.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0   0.0
10005    0.0  0.0  0.0  0.0    0.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0  0.0  0.0  0.0   0.0  0.0  0.0   0.0  176.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0   0.0
10006    0.0  0.0  0.0  0.0    0.0  0.0  0.0  0.0  0.0  24.0  0.0   0.0  0.0  0.0  0.0   0.0  0.0  0.0  12.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  12.0  0.0   0.0   0.0

In [9]:
#quality2만들기(quality로그 자체가 발생한 일별 빈도수)

quality2 = train_quality
quality2['count'] = 1

#index = user_id , columns = [month,day] , value = quality로그자체발생빈도수 인 피벗테이블 만들기
#피벗테이블 만들기
quality2 = pd.pivot_table(quality2, values = 'count', index = 'user_id', columns = ['month','day'],aggfunc = 'sum')
quality2.fillna(0,inplace=True)
quality2.head()

month     10   11
day       31   1     2    3     4    5     6    7    8     9    10    11   12   13   14    15   16   17    18    19   20   21   22   23   24   25   26    27   28    29    30
user_id
10000    0.0  0.0   0.0  0.0   0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0  0.0  0.0  0.0   0.0  0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  12.0  12.0
10002    0.0  0.0   0.0  0.0  12.0  0.0  12.0  0.0  0.0   0.0  0.0  12.0  0.0  0.0  0.0  12.0  0.0  0.0  12.0  12.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0  24.0
10004    0.0  0.0  12.0  0.0  12.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0  0.0  0.0  0.0   0.0  0.0  0.0   0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0   0.0
10005    0.0  0.0   0.0  0.0   0.0  0.0   0.0  0.0  0.0   0.0  0.0   0.0  0.0  0.0  0.0   0.0  0.0  0.0   0.0  24.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0   0.0   0.0
10006    0.0  0.0   0.0  0.0   0.0  0.0   0.0  0.0  0.0  12.0  0.0   0.0  0.0  0.0  0.0   0.0  0.0  0.0  12.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  12.0  0.0   0.0   0.0

In [10]:
user_df = pd.DataFrame([i for i in range(10000,25000)],columns=['user_df'])
user_df2 = pd.DataFrame([i for i in range(10000,25000)],columns=['user_df'])

In [11]:
user_df = user_df.join(quality1)
user_df = user_df.fillna(0)

user_df2 = user_df2.join(quality2)
user_df2 = user_df2.fillna(0)

In [12]:

user_df.to_csv('trying1.csv',index =False)
user_df2.to_csv('trying2.csv',index =False)

#추후에left조인(by: user_id)을 이용하고 fillna(0)을 이용

In [113]:
user_df.shape

(15000, 32)

In [71]:
quality1.values.shape

(8281, 31)

In [215]:
a = pd.read_csv('q3.csv')

In [216]:
a.head()

     0    1     2     3       4     5      6    7    8
0  0.0  0.0  12.0   0.0     0.0   0.0  144.0  0.0  0.0
1  0.0  0.0   0.0   0.0     0.0   0.0    0.0  0.0  0.0
2 -2.0 -1.0  29.0  44.0   552.0  12.0  372.0 -2.0  0.0
3  0.0  0.0   0.0   0.0     0.0   0.0    0.0  0.0  0.0
4 -2.0 -2.0   2.0  85.0  1044.0   0.0   48.0 -2.0  0.0

## COUNT_Q 에러 
### 한번 측정할때 가장 오래 측정한 시간

In [ ]:
qdata  = pd.read_csv(PATH+'train_quality_data.csv')
q_id = qdata['user_id'].unique()

count = np.zeros(15000)
for i in tqdm(range(10000,25000)):
    tem = qdata.groupby(by = ['user_id','time']).count()['quality_2'][i]
    if i not in q_id:
        continue
    else:
        count[i-10000] = qdata.groupby(by = ['user_id','time']).count()['quality_2'][i].sort_values().iloc[-1]
        
count_qal = pd.Series(count)
count_qal.to_csv('count_q.csv',index =False)

In [245]:
t_qdata  = pd.read_csv(PATH+'test_quality_data.csv')
t_q_id = t_qdata['user_id'].unique()
t_count = np.zeros(14999)
for i in tqdm(t_q_id):
    tem = t_qdata.groupby(by = ['user_id','time']).count()['quality_2'][i]
    t_count[i-30000] = t_qdata.groupby(by = ['user_id','time']).count()['quality_2'][i].sort_values().iloc[-1]
        
t_count_qal = pd.Series(t_count)
#t_count_qal.to_csv('t_count_q.csv',index =False)

100%|████████████████████████████████████████████████████████████████████████████| 8268/8268 [1:31:45<00:00,  1.50it/s]

In [43]:
qdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828624 entries, 0 to 828623
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        828624 non-null  int64
 1   user_id     828624 non-null  int64
 2   fwver       788544 non-null  object
 3   quality_0   684192 non-null  float64
 4   quality_1   828624 non-null  int64
 5   quality_2   788511 non-null  float64
 6   quality_3   828624 non-null  int64
 7   quality_4   828624 non-null  int64
 8   quality_5   828604 non-null  object
 9   quality_6   828624 non-null  int64
 10  quality_7   828624 non-null  object
 11  quality_8   828624 non-null  object
 12  quality_9   828624 non-null  object
 13  quality_10  828624 non-null  object
 14  quality_11  828624 non-null  int64
 15  quality_12  828624 non-null  int64
dtypes: float64(2), int64(8), object(6)
memory usage: 101.2+ MB

In [42]:
a

array([0, 0, 0, ..., 0, 0, 0], dtype=object)